<img class="w1 h1 w2-ns h2-ns br-100 ma2" alt= {{msg.author.name}} src= {{msg.author.photoUrl}}>
<div class="pl3 flex-auto">
  <span class="f6 db black">
    <strong>{{msg.author.name}}</strong> [{{msg.time}}]</span>
  <span class="f6 db black-70">{{msg.content}}</span>
</div>