<p>Nick: {{input value=model.nick}}</p>
<p>What i do: {{input value=model.whatIDo}}</p>
<p>Status: {{input value=model.status}}</p>
<p>Timezone: {{input value=model.timezone}}</p>
<p>Street: {{input value=model.street}}</p>
<p>City: {{input value=model.city}}</p>
<p>Secondary email: {{input value=model.secondaryEmail}}</p>
<button {{action 'save'}}>
  Save
</button>

{{outlet}}