
{{link-to 'edit' 'profile.edit'}}

<p>Nick: {{model.nick}}</p>
<p>What I do: {{model.whatIDo}}</p>
<p>Status: {{model.status}}</p>

<p>Street: {{model.street}}</p>
<p>City: {{model.city}}</p>
<p>Secondary Email: {{model.secondaryEmail}}</p>
<p>Timezone: {{model.timezone}}</p>