{{outlet}}

<div class="teams box">
  {{#if session.isAuthenticated}}
    {{#if session.currentUser.photoUrl}} 
      <img {{action "signOut"}} class="br-100" width="60" alt={{session.currentUser.name}} src={{session.currentUser.photoUrl}} >
    {{else}}
      <img {{action "signOut"}} class="br-100" width="60" src="https://placehold.it/50x50.jpg/ffffff/000?text=Me" >
    {{/if}}
  {{else}}
    <button {{action "signIn"}}>Sign in</button>
  {{/if}}
</div>
