{{outlet}}

<div class="teams box">
  {{#if session.isAuthenticated}}
    {{#if session.currentUser.photoUrl}}
      <img role="button" {{action "signOut"}} alt="user picture" class="br-100" width="60" alt={{session.currentUser.name}} src={{session.currentUser.photoUrl}} >
    {{else}}
      <img role="button" {{action "signOut"}} alt="placeholder" class="br-100" width="60" src="https://placehold.it/50x50.jpg/ffffff/000?text=Me" >
    {{/if}}
  {{else}}
    <button {{action "signIn"}}>Sign in</button>
  {{/if}}
</div>
