<p>Name: {{model.name}}</p>
<p>Email: {{model.email}}</p>
<p>Avatar: <img alt={{model.name}} src={{model.photoUrl}}></p>
<div>
  &nbps;
</div>
<div>
  &nbps;
</div>
<div style="background-color:cornflowerblue">
  {{outlet}}


</div>